doctype html
html
  body
    block nav
      include nav
    main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        .container
          h1.display-3 woOw Git work flow!
          p
            | Esta plantilla va a mostrar el workflow que debemos seguir para enviar los cambios a producción.
      block content
    block footer
      include footer
